.panel_titulo {

    overflow: hidden;
    height: 43px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.loader {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 190px;
    height: 150px;
    font-size: 30px;
    font-family: monospace;
    color: #d9534f;
    margin: -75px 0 0 -100px

}

.loader_div{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px; background: #e7e7e7; opacity: 0.5;
}
#cabeza{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width: 100%;
}
#top_anuncio{
    background-color: #ebccd1;;
    color: #000;
    margin-left: 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 1px;
}

#top_anuncio2{
    background-color: #ebccd1;;
    color: #d9534f;
    margin-bottom: 8px;
    border-radius: 4px;
}

#izq_panel {
    float: left;
    max-width: 170px;
    margin: 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    left: 15px;
    position: absolute;
    width: 160px;
}

#izq_panel ul li a {
    cursor: pointer;
    font-size: 12px;
    color: #03b;
}

#izq_panel ul {

    list-style-type: none;
    padding-left: 10px;
}

#contenido_1 {    

    left: 190px;
    /*position: absolute;*/
    padding-left: 190px;
    width: 100%;
    /*overflow: hidden;*/
}

#pagi{
    margin-left: -225px;
}

#con_img{

    margin-left: 220px;
}

#lbl_edad{    
    margin-left: -40px;
}

#lbl_altura{    
    margin-left: -40px;
}

#lbl_tarifa{
    padding-left: 0px;
}

@media screen and (min-width: 0px) and (max-width: 720px){
    #izq_panel{ 
        display: none; 
    }
    #contenido_1 {
        padding-left: 0px;
    }
    #pagi{
        margin-left: 0px;
    }   
    /*    #logo_img{
            width: 61px;
            height: 21px;
        }*/
    .form-control{
        display: inline-block;
    }

    #top_anuncio{
        margin-bottom: 5px;
        margin-right: 14px;
        padding: 1px;
    }

    #lbl_edad{    
        margin-left: 15px;
    }

    #lbl_altura{    
        margin-left: 15px;
    }

    #lbl_tarifa{
        margin-left: 15px;
        padding-left: 15px;
    }

    #con_img{

        margin-left: 15px;
    }

    #altura{
        width: 140px;
    }

    #edad{
        width: 140px;
    }

    .navbar {        
        margin-bottom: 5px;         
    }
}

.site-footer{
    padding-bottom: 0px; bottom: 0px;
    text-align: center;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 100px;    
}
.helper{
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 250px;
}
.cont_img{
    float: left;
    margin-left: 5px;
    /* border-style: groove; */
    margin-top: 10px;
    border-style: solid;
    border-width: medium;
    /* border-width: 1px; */
    border: 1px solid #e1e1e8;
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
}
.hand{
    cursor: pointer;
}
.td_texto{
    word-wrap: break-word; 
    max-width: 200px; 
    max-height: 250px;
}
.texto{
    font-size: 12px;
    max-height: 100px;
    overflow: hidden;
}
.f_15{
    font-size: 15px;
}
#div_alerta{
    margin-left: 5px;
    margin-right: 5px;
}

.image{
    margin: 0 auto;
    margin-top: 4px;
}
.btn_mas{
    font-size: 50px;
    cursor: pointer;
    margin-top: -3px;
}

.btn_mas:hover{
    color: #a94442;
}

.close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color: #a94442;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 30;
}

.close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#000;
    opacity: 30;
}

.div_img{
    width: 108px;
    height: 108px;
    background: #eee; 
    position: relative;
    border-radius: 5px;
    text-align: center;
    float: left;
    border: 1px dotted black;
    margin-left: 5px;
}



.navbar-brand>img {
    max-height: 100%;
    /*height: 100%;*/
    /*width: auto;*/
    margin: 0 auto;


    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain; 
}

/*.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 10px;
}


.navbar-nav > li > a {
    padding-top: 28px !important;
    padding-bottom: 5px !important;
    padding-right: 2px !important;
    padding-left: 2px !important;    
}

.navbar-left {
    padding-top: 12px !important;
}*/
/*
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}*/

.navbar-toggle {
    padding: 6px 10px;
}



.file{
    visibility: hidden;
    width: 0px;
    height: 0px
}

#tarifa{
    width: 140px;
}

#lbl_imagen{
    margin-right: 15px;
}




#anuncio{
    width: 100%;
    overflow: hidden;
    background-color: #f2dede;
    margin-top: -5px;
    position: relative;
}

#der_panel{
    float: right;
    margin: 0 1.5%;
}

#pie{
    clear: both;
    margin-bottom: 0;
    float: bottom;
}

#body_index{
    /*overflow-x: hidden;*/
}