Options +FollowSymLinks -MultiViews -Indexes

ErrorDocument 404 /index.php

DirectoryIndex index.php

RewriteEngine on

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
#RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond ${REQUEST_URI} ^.+$
RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|php|ico|txt|pdf|xml)$ [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteBase "/"


RewriteCond %{REQUEST_URI} ^/aboutus$
RewriteRule (.*) aboutus.php [L]

RewriteBase "/"


RewriteCond %{REQUEST_URI} ^/termcondi$
RewriteRule (.*) termcondi.php [L]

RewriteBase "/"


RewriteCond %{REQUEST_URI} ^/anuncio$
RewriteRule (.*) anuncio.php [L]


RewriteBase "/"

RewriteCond %{REQUEST_URI} ^/pruebas$
RewriteRule (.*) pruebas.php [L]

RewriteBase "/"

RewriteCond %{REQUEST_URI} ^/session$
RewriteRule (.*) session.php [L]

RewriteBase "/"

RewriteCond %{REQUEST_URI} ^/panel
RewriteRule (.*) panel.php [L]

RewriteBase "/"

RewriteCond %{REQUEST_URI} ^/register
RewriteRule (.*) register.php [L]

RewriteBase "/"

RewriteCond %{REQUEST_URI} ^/index
RewriteRule (.*) index.php [L]

RewriteBase "/"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^denunciar/([0-9]+)$ denunciar.php?idanuncio=$1 [L]

RewriteRule ^P_AN/([0-9]+)/([^/]+)/([a-zA-Z0-9-_]+)/?$ index.php?idanuncio=$1&parm1=$2&parm2=$3 [L]

# remove spaces from start or after /
#RewriteRule ^(.*/|)[\s%20]+(.+)$ $1$2 [L]
#
## remove spaces from end or before /
#RewriteRule ^(.+?)[\s%20]+(/.*|)$ $1$2 [L]
#
## replace spaces by - in between
RewriteRule ^([^\s%20]*)(?:\s|%20)+(.*)$ $1-$2 [L,R]


#prametros normales
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([a-zA-Z0-9-_.()ñÑ$,]+)/?$ index.php?&parm1=$1&parm2=$2&parm3=$3&parm4=$4&parm5=$5 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([a-zA-Z0-9-_.()ñÑ$,]+)/?$ index.php?&parm1=$1&parm2=$2&parm3=$3&parm4=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([a-zA-Z0-9-_.()ñÑ$,]+)/?$ index.php?&parm1=$1&parm2=$2&parm3=$3 [L]

RewriteRule ^([^/]+)/([a-zA-Z0-9-_.()ñÑ$,]+)/?$ index.php?&parm1=$1&parm2=$2 [L]
RewriteRule ^([a-zA-Z0-9-_.()ñÑ$,]+)/?$ index.php?&parm1=$1 [L]


# BEGIN Compress text files
<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
  AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
  AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
  AddOutputFilterByType DEFLATE font/truetype font/opentype
</ifModule>
# END Compress text files

# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

# These are pretty far-future expires headers.
# They assume you control versioning with filename-based cache busting
# Additionally, consider that outdated proxies may miscache
# www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# If you don't use filenames to version, lower the CSS and JS to something like
# "access plus 1 week".

<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# Your document html
  ExpiresByType text/html                 "access plus 0 seconds"

# Data
  ExpiresByType application/json          "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType text/xml                  "access plus 0 seconds"

# Feed
  ExpiresByType application/atom+xml      "access plus 1 hour"
  ExpiresByType application/rss+xml       "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"

# Media: images, video, audio
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"

# HTC files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"

# Webfonts
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType application/x-font-ttf    "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"

# CSS and JavaScript
  ExpiresByType application/javascript    "access plus 1 week"
  ExpiresByType text/css                  "access plus 1 week"

</IfModule>


# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"  
#  Header set Content-Security-Policy "default-src 'self' stats.g.doubleclick.net www.google.com maxcdn.bootstrapcdn.com ajax.googleapis.com www.google-analytics.com; img-src 'self' data: stats.g.doubleclick.net www.google.com www.google-analytics.com;"
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers

# BEGIN Turn ETags Off
FileETag None
# END Turn ETags Off